@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'mixins';
@import 'variables';

@import '../components/Login/Login.styles.scss';
@import '../components/Searchbar/Searchbar.styles.scss';
@import '../components/Dashboard/Dashboard.styles.scss';
@import '../components/SearchResults/SearchResults.styles.scss';
@import '../components/Dashboard/Dashboard.styles.scss';
@import '../components/Player/Player.styles.scss';
@import '../components/Card/Card.styles.scss';

*, *::before, *::after {
  font-family: Archivo;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: $prussian-blue;

}

.app,
.container {
  width: 100vw;
  height: 95vh;

  @include flex-center;
}

.hidden {
  display: none;
}